
.header-title {
  display: block;
  position: relative;
  padding: 0.2em 0;
}
.header-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: hotpink;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.header-title:hover::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
.header-title:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.header-title::after {
  opacity :1;
  transform: scale(0);
  transform-origin: center;
}

.header-title:hover::after,
.header-title:focus::after{
  transform: scale(1);
}


