@import "tailwindcss";
#root {
  max-width: auto;
  margin: 0 auto;
  background-color:#0B0E11;
  color: white;
  
}

/* number inout arrow hide */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Hover underline effect for title */
.header-title {
  
  position: relative;
  padding: 0.2em 0;
}
.header-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: hotpink;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.header-title:hover::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
.header-title:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.header-title::after {
  opacity :1;
  transform: scale(0);
  transform-origin: center;
}

.header-title:hover::after,
.header-title:focus::after{
  transform: scale(1);
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
